
ProductsCollectionView/JSONDataIntoCollectionView.xcodeproj/xcuserdata/mac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ProductsCollectionView/JSONDataIntoCollectionView.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
ProductsCollectionView/JSONDataIntoCollectionView.xcodeproj/project.pbxproj
